<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47408515610-baidj2isl9kn4ks6ljfhbef2re385l4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47408515610-baidj2isl9kn4ks6ljfhbef2re385l4a</string>
	<key>API_KEY</key>
	<string>AIzaSyAVGYA5tk5z2plHLYq03J6gGAZ0X-pWHSs</string>
	<key>GCM_SENDER_ID</key>
	<string>47408515610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.raychat</string>
	<key>PROJECT_ID</key>
	<string>raychat-9bd07</string>
	<key>STORAGE_BUCKET</key>
	<string>raychat-9bd07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47408515610:ios:60539cd7aaaa0f0a4cdfa3</string>
</dict>
</plist>